@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes rotate {
    100% { transform: rotate(360deg); }
}
@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }

    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}
.initial-loader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: #fff;
    text-align: center;
    animation: fadein 1s ease-in alternate;
}
.initial-loader div {
    text-align: center;
    width: 50%;
}
.initial-loader img {
    margin: auto;
    width: 3em;
}
.initial-loader .spinner {
    height: 300px;
    width: 300px;
    animation: rotate 2s linear infinite;
    transform-origin: center center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.initial-loader .spinner .path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: dash 1.5s ease-in-out infinite;
    stroke-linecap: round;
    stroke: #6a1b9a;
}