.btn-periods {
    display: inline-block;
    button {
        margin-top: 8px;
        margin-right: 10px;
    }
}
.check-table {
    width: 100%;
    margin-top: 18px;
}
.thead-sm {
    display: none;
}
.tbody-tr-sm {
    position: relative;
    display: block;
    padding: 20px 12px 145px 120px;
    margin-bottom: 25px;
    td.thumbnail-image {
        position: absolute;
        top: 20px;
        left: 12px;
        padding: 0;
        border-bottom-style: none;
    }
    td.title-table {
        justify-content: space-between;
        flex-wrap: wrap;
        font-weight: 600;
        font-size: 16px;
    }
    td.action-table {
        position: absolute;
        top: 0;
        right: 12px;
        border-bottom-style: none;
    }
    td {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 7px 0 !important;
    }
}
.product-thumbnail {
    display: block;
    max-width: 130px;
    box-shadow: none;
    -webkit-box-shadow: none;
    position: relative;
    @media only screen and (max-width: 992px) {
        max-width: 100px;
    }
    @media only screen and (max-width: 600px) {
        max-width: 80px;
    }
    img {
        width: 100%;
    }
}
.check-price {
    color: var(--warn);
    font-size: 16px;
    line-height: 1.2;
    font-weight: 500;
}
.check-total {
    color: var(--foreground);
    font-weight: 600;
    line-height: 1.2;
    font-size: 16px;
    margin-right: 12px;
}
.product-quantity {
    position: absolute;
    bottom: 16px;
    right: 8px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.25);
    color: #fff;
    font-size: 16px;
    padding: 5px;
}
.status {
    display: flex;
    align-items: center;
}